<form>
    <div class="mb-3" style="margin-top: 30px;">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="cash" class="form-label">Starting Cash</label>
        <input type="number" class="form-control" id="cash">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>