
<div class="container">
  <h1>The Bill Club <h2 style="display:inline; font-size: medium;">by Nasser, Carlos, Sam</h2></h1>
  <h3 style="font-size: large; margin-bottom: 30px;">Online Blackjack Game</h3>
  
  
  <h4 style="margin-top: 100px">
    Let's get started
  </h4>

  <div style="margin-top: 20px;">
    <button type="button" routerLink="login" class="btn btn-primary" style="padding: 10px 60px">Members</button>
    <button type="button" routerLink="register" class="btn btn-primary" style="padding: 10px 55px; margin-left: 10px;">Join Club</button>
  </div>

  
  <router-outlet></router-outlet>

  
</div>

